body {
    font-family: Lato;
    font-size: 14px;
}
.logo{
    width: 100px;
    height: 30px;
}

.bs-example{
    margin: 20px;
}

.wrapper-with-margin{
    margin:0px 50px;
}

.titulo-header {
    padding-bottom:9px;
    margin:40px 0 20px;
    text-align: center;
    color: #0094d8;
    font-family: Gobold;
    border-bottom:1px solid #0094d8;
}

.titulo-noticia-left {
    padding-bottom:8px;
    margin:20px 0 20px;
    text-align: left;
    color: #0094d8;
    font-family: Gobold;
    border-bottom:1px solid #0094d8;
}

.titulo-header-left {
    padding-bottom:9px;
    margin:40px 0 20px;
    text-align: left;
    color: #0094d8;
    font-family: Gobold;
    border-bottom:1px solid #0094d8;
}

.titulo-proyecto {
    font-family: Lato-Black;
    /*font-size: 17px;*/
}

.titulo-empresa {
    font-family: Lato-Light;
    /*font-size: 23px;*/
    padding: 2em 0 0 0;
}

.titulo-footer {
    font-family: Lato-Bold;
    font-size: 17px;
    padding: 2em 0 0 2em;
    color: #FFF;
}
.controls-wrapper{
    color: #FFF;
    height: 227px;
}

.parrafo{
    font-size: 17px;
    text-align: justify;
    text-justify: inter-word;
}

.footer{
    bottom:0;
    border-top:1px solid #ccc;
    -moz-box-shadow:    1px 1px 2px 3px #ccc;
    -webkit-box-shadow: 1px 1px 2px 3px #ccc;
    box-shadow:         1px 1px 2px 3px #ccc;
}

.hfooter {
    text-align: center;
    padding-top: 1.0em;
}

.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cont-footer{
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

.hfooter > p {
    font-size: 17px;
}

.cfooter {
    background-color: #0094d8;
}

.contenido-footer {
    font-family: Lato-Light;
    font-size: 17px;
    color: #FFF;
}

.pd-footer {
    padding: 0 0 0.5em 0; /* <padding-top> || <padding-right> || <padding-bottom> || <padding-left> */
}

.lista-footer {
    list-style:none;
}

.pfooter {
    background-color : rgba(9, 150, 222, 0.8);
    /*background-color: #1E3954;*/
    text-align: center;
    color: #FFF;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}

.negrita{
    font-weight: bold;
}

.lipanel{
    color: #000;
}